<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | ILearn</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/site.css">

</head>

<body>
    <header class="p-3 mb-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none ms-0">
                    <!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"></use>
                    </svg> -->
                    <img src="./images/bootstrap-logo.svg" width="40" height="32">
                </a>

                <ul class="nav col-12 col-lg-auto me-0 mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-dark">خانه</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">درباره ما</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">تماس باما</a></li>
                </ul>



                <partial name="_LoginPartial" />
               
            </div>
        </div>
    </header>
    <main>
        <partial name="_SearchBarPartial" />
        @RenderBody();
    </main>
    <footer class="container py-3">
        <div class="row">
            <div class="col-6">
                <h5>دسترسی سریع</h5>
                <ul class="list-unstyled text-small p-0">
                    <li><a class="link-secondary" href="#">پرسش و پاسخ</a></li>
                    <li><a class="link-secondary" href="#">درباره ما</a></li>
                    <li><a class="link-secondary" href="#">تماس باما</a></li>
                </ul>
            </div>
            <div class="col-md-6">

                <h5>کاربر</h5>
                <ul class="list-unstyled text-small p-0">
                    <li><a class="link-secondary" href="#">خروج</a></li>
                    <li><a class="link-secondary" href="#">سبد خرید</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false);
</body>

</html>