@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown text-end ms-0 me-auto">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
       data-bs-toggle="dropdown" aria-expanded="false">
            <img src="images/lionel-messi.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
    </div>
}
else
{
    <div class="text-end ms-0 me-auto text-primary">
        <a asp-action="Login" asp-controller="Account">ورود</a> /
        <a asp-action="Register" asp-controller="Account">ثبت نام</a>
    </div>
}