        <section>
            <div class="px-4 py-5 text-center">
                <img class="d-block mx-auto mb-4" src="./images/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="display-5 fw-bold">آی لرن</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4 fw-bold">این جا می تونی آموزش های مختلف رو به راحتی به دست بیاری.</p>
                </div>
                <div class="mt-2 col-md-8 mx-auto">
                    <form class="d-flex">
                        <input type="search" class="form-control" placeholder="چی می خوای یاد بگیری؟">
                        <button type="submit" class="btn btn-primary me-1">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
