<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/admin-stryle.css">

</head>

<body>
    <main>
        <div class="row">
            
            <a href="./index.html" class="d-flex align-items-center py-3 mb-3 link-dark text-decoration-none border-bottom">
                <img class="bi mx-2" width="30" height="24" src="../images/bootstrap-logo.svg" alt="" srcset="">
                <span class="fs-5 fw-semibold">پنل ادمین</span>
            </a>
            <div class="col-md-3 col-sm-12 me-0">
                <div class="flex-shrink-0 p-3 bg-white">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#user-collapse" aria-expanded="false">
                                مدیریت کاربران
                            </button>
                            <div class="collapse" id="user-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="/Admin/Users" class="link-dark rounded">لیست کاربران</a></li>
                                    <li><a href="" class="link-dark rounded">کاربران حذف شده</a></li>
                                    <li><a href="#" class="link-dark rounded">لیست نقش ها</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                                data-bs-target="#course-collapse" aria-expanded="false">
                                مدیریت دوره ها
                            </button>
                            <div class="collapse" id="course-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="./course-list.html" class="link-dark rounded">لیست دوره ها</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 ms-0">
                @RenderBody();
            </div>
        </div>
    </main>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>